.background_view {
  height: 100%;
  width: 100%;
}

.header {
  text-align: left;
  background-color: #f2f3f5;
  font-size: 12px;
  color: #737373;
  margin: 0;
  padding: 10px 0px 0px 10px;
}

.item {
  padding: 10px;
  text-align: left;
}

.required {
  font-size: 12px;
  color: red;
}

.label {
  font-size: 14px;
  color: black;
  text-align: start;
  font-weight: bold;
}

.divider {
  border-style: none;
  height: 10px;
  padding: 0;
  margin: 0;
  background-color: #f2f3f5;
}

.van-field {
  padding: 0;
  margin: 0;
}

.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.size {
  border-style: none;
  height: 10px;
  padding: 0;
  margin: 0;
}

.van-cell-group {
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.van-checkbox {
  margin-top: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.marigh-10 {
  margin: 10px;
}

.display-flex {
  display: flex;
}

.relative {
  position: relative;
}

.preview-cover {
  background-color: white;
  color: black;
  height: 100%;
}

.dynamic-form-collapse-icon {
  width: 20px;
  height: 20px;
  background-color: #1658a0;
  color: white;
  text-align: center;
  margin-right: 10px;
  border-radius: 4px;
}
