.box-card {
  margin-bottom: 10px;
}

.box-card-icon-span {
  display: flex;
  align-items: flex-end
}

.box-card-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.box-card-span {
  width: 77px;
  height: 26px;
  display: flex;
  font-weight: 700;
  font-size: 18px;
  font-family: 微软雅黑;
  margin-bottom: 8px;
  color: #000000;
  
}

.text-card {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  /* width: 70px; */
  height: 20px;
  font-size: 14px;
  font-family: 微软雅黑;
  font-weight: 400;
  color: RGBA(127, 127, 127, 1);
  line-height: 20px;
}

.text-card-span {
  display: flex;
  flex-direction: row-reverse;
  width: 246px;
  height: 20px;
  font-weight: 700;
  font-family: 微软雅黑;
  color: #000000;
  /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-button {
  float: right;
  width: 82px;
  height: 30px;
  border-radius: 8px;
  padding: 3px 0;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #0060FF;
  border: none
}

.box-button span {

  font-size: 14px;
  font-family: 微软雅黑;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 20px;
}