.one-center3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  margin-top: 10px;
}

.one-center3 h3 {
  width: 95px;
  height: 28px;
  /* margin-left: 15px; */
  margin-top: 15px;
}


.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.icon-wrapper .icon {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
}


.icon-wrapper .text-pl {
  width: 64px;
  height: 22px;
  font-size: 16px;
  font-family: 微软雅黑;
  color: #000000;
  line-height: 22px;
  margin-bottom: 36px;
}

.text-icon1 {
  width: 85px !important;
}


.van-grid-item__content {
  padding: 0;
}