.one-center3 {
  display: flex;
  /* align-items: flex-start; */
  flex-direction: column;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  margin-top: 10px;
}

.one-center3 h3 {
  padding: 15px;
  font-weight: 700;
}


.icon-wrapper123 {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.icon-wrapper123 .icon {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
}


.icon-wrapper123 .text-pl {
  width: auto;
  height: 22px;
  font-size: 12px;
  font-family: 微软雅黑;
  color: #000000;
  line-height: 22px;
  margin-bottom: 36px;
}

/* .text-icon1 {
  width: 85px !important;
} */


.van-grid-item__content {
  padding: 0;
}