.bgc {
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: 190px;
  background-image: url('@/assets/images/bgc-1.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
}



.container .title {
  width: 155px;
  height: 25px;
  font-size: 18px;
  font-family: 微软雅黑;
  color: #000000;
  line-height: 25px;
  font-weight: 700;
}

.container .head-image {
  width: 46px;
  height: 46px;
  margin-left: 10px;
  background: #D8D8D8;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}


.title-right {
  display: flex;
  align-items: center;
}

.right-weather {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  line-height: 18px;
  margin-right: 15px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.8);
}



.title-iconDay {
  /* font-size: 46px;
  text-align: center;
  line-height: 30px;
  background: linear-gradient(to bottom, rgb(255, 220, 74) 10%, #fff 28%, #fff 68%, rgb(129, 213, 251));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */
  width: 46px;
  height: 46px;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 14px;
  font-size: 30px;
  margin-bottom: 15px;
}

.my-swipe {
  width: auto;
  height: 220px;
  margin: 0 15px;
  margin-top: -10px;
}

.my-swipe img {
  width: 330px;
  height: 100%;
}


.my-swipe .van-swipe-item {
  color: #fff;
  font-size: 20px;
  line-height: 150px;
  text-align: center;
  margin-top: 20px;
}

.notice-swipe {
  height: 40px;
  line-height: 40px;
}

.news-item {
  width: 330px;
  height: 38px;
  display: flex;
  align-items: center;
  /* margin-bottom: 15px; */
  margin-left: 15px;
  background-color: RGBA(225, 241, 254, 1);
  border-radius: 0px 0px 10px 10px;
}

.news-image {
  width: 60px;
  height: 13px;
  margin-right: 10px;
  margin-left: 15px;
}

/* .news-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.news-text {
  width: 246px;
  height: 20px;
  font-family: 微软雅黑;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: -8px;
  margin-top: 2px;
  background-color: RGBA(225, 241, 254, 1);
}

.van-grid-item__content--center {
  background: transparent;
}

.my-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 64px;
  /* height: 64px; */
  font-size: 14px;
  color: #333;
  text-align: center;
  /* margin-bottom: 20px; */
}

.my-grid-item img {
  width: auto;
  height: auto;
}

.my-grid-item span {
  width: 56px;
  height: 20px;
  font-family: 微软雅黑;
  line-height: 20px;
  color: #000000;
  margin-top: 6px;
  text-shadow: 2px 2px 4px RGBA(0, 0, 0, 0.1);
  -webkit-font-smoothing: antialiased;
}

.today {
  padding: 10px 0;
  height: auto;
}